@import "tailwindcss";

@layer theme, base, components, utilities;
@layer utilities {
  .bg-foreground {
    background-color: var(--color-gray-900);

  }

  .bg-background {
    background-color: white;
  }

  .text-foreground {
    color: var(--color-gray-900) /* #000 = #000000 */;
  }

  .text-foreground-mid {
    color: var(--color-gray-600) /* #000 = #000000 */;
  }

  .text-background {
    color: var(--color-white) /* #000 = #000000 */;
  }

  .text-background-mid {
    color: var(--color-gray-200) /* #000 = #000000 */;
  }



}
@property --tw-gradient-from {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}
